body
{
    background-color: white;
    margin: 0px;
    margin-top: -100px;
    width: fit-content;
}
img
{
    transition: all .2s;
}
img:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
#homepage-cover
{
    overflow: hidden;
    display: block;
    height: 700px;
    width: 100%;
}
video
{
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    z-index: -10;
}
.display-center-y
{
    position: relative;
    top: 25%;
}
.display-center-x
{
    margin: 0px auto;
}
.display-block
{
    display: block;
}

.position-relative
{
    position: relative;
}

.border-rounded
{
    border-radius: 50%;
}

.lbl-covertitle
{
    color: white;
    font-size: 80px;
    font-family: Roboto;
}
.lbl-coversubtitle
{
    color: white;
    font-family: Roboto;
    font-size: 28px;
}
.lbl-title
{
    color: white;
    font-family: Roboto;
    font-size: 24px;
}
.lbl-p
{
    color: white;
    font-family: Roboto;
    font-size: 18px;
}
.lbl-darker
{
    color: black;
}
.lbl-thin
{
    font-weight: lighter;
}
.lbl-center
{
    text-align: center;
}
.lbl-justify
{
    text-align: justify;
}
.nav-button
{
    color: white;
    background-color: black;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    transition: all .2s;
    margin: 2px;
}
.nav-button:hover
{
    transform: scale(1.05);
}
.nav-button img
{
    width: 24px;
    filter: invert(100%);
    float: left;
    margin-top: -20px;
    margin-left: 15px;
    display: flex;
}
.nav-button p
{
    font-size: 15px;
    position: relative;
    top: 2px;
    left: 5px;
    width: 30%;
}
.homepage-container-marginLeft10
{
    margin-left: 20px;
}
.homepage-container
{
    width: 100%;
}
.homepage-centeredcontainer
{
    padding: 15px;
    width: 90%;
}
.timeline
{
    display: block;
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    height: fit-content;
}
.timeline:before
{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: black;
}
.timeline ul
{
    list-style: none;
}
.timeline li
{
    padding: 10px;
}
.timeline ul li:nth-child(odd)
{
    position: relative;
    margin-left: -55px;
    width:50%;
    text-align: right;
}
.timeline ul li:nth-child(even)
{
    position: relative;
    margin-left: 49.7%;
    width: 50%;
    text-align: left;
}
.timeline ul li:nth-child(odd):before
{
    content: '';
    width: 15px;
    height: 15px;
    right: -23px;
    background-color: black;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, .2);
    border-radius: 50%;
    position: absolute;
}
.timeline ul li:nth-child(even):before
{
    content: '';
    width: 15px;
    height: 15px;
    left: -22px;
    background-color: black;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, .2);
    border-radius: 50%;
    position: absolute;
    transition: all .2s;
}
.bgcolor-red
{
    background-color: red;
}
.bgcolor-green
{
    background-color: green;
}
.bgcolor-lightRed
{
    background-color: #FFE5E5;   
}
.bgcolor-lightBlue
{
    background-color: #B5E2FF;
}
.bgcolor-lighter
{
    background-color:white
}
.bgcolor-gradBlue
{
    background: rgb(2,0,36);
    background: linear-gradient(22deg, rgba(2,0,36,1) 0%, rgba(9,100,121,1) 0%, rgba(0,212,255,1) 100%);
}
.bgcolor-gragOrangeRed
{
    background: rgb(131,58,180);
background: linear-gradient(332deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}
.bgcolor-lighter2
{
    background-color: rgb(230, 230, 230);
}
.bgcolor-linkedin
{
    background-color: #2867B2;
}
@media (min-width: 1200px) {
    
    .min-width-display
    {
        display: block;
    }
    
    .max-width-display
    {
        display: none;
    }

    #game-content ul iframe
    {
        width: 100%;
        height: 100%;
    }
    
    #game-content ul
    {
        padding-left: 0px;
        list-style: none;
        display: flex;
    }
    #game-content ul li
    {
        height: 400px;
        width: 50%;
    }
}
@media (max-width: 1200px)
{
    .min-width-display
    {
        display: none;
    }
    .max-width-display
    {
        display: block;
    }
    #game-content ul iframe
    {
        width: 100%;
        height: 50vw;
    }

    #game-content ul
    {
        margin-left: -40px;
        width: 100%;
        list-style: none;
    }
    #game-content ul li
    {
        margin: 0px auto;
        height: fit-content;
        width: 100%;
    }
}
@media (max-width: 630px)
{
    .max-width-display630
    {
        display: block;
    }
    .min-width-display630
    {
        display: none;
    }
}
@media (min-width: 630px)
{
    .max-width-display630
    {
        display: none;
    }
    .min-width-display630
    {
        display: block;
    }
}